/* *google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/* *Common styles */

/* *color */

.color-primary{
    color: #5D5FEF;
}
.color-gray{
    color:#949494
}

/* *fonts size and weights */
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-24{
    font-size: 24px;
}

.fw-400{
    font-weight: 400;
}
.fw-700{
    font-weight: 700;
}

/* *Header starts */
.active-link{
    color: #5D5FEF;
}

.nav-link:hover{
    color: #5D5FEF;
    text-align: justify;
}

.justify-text{
    text-align: justify;
}
/* *Header end */

/* *news item starts here */
.card{
    margin-bottom: 1rem!important;
    margin-top: 3rem!important;
    border: 0!important;
}
.card-title{
    cursor: pointer;
    transition: color 0.2s ease;
}
.card-title:hover{
    color: #5D5FEF;
}
.author-img>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.details-btn>button{
    color: #5D5FEF;
}
.details-btn>button:hover{
    color: #5D5FEF;
}

/* *news item Ends here */